<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#">Price Prediction</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('cocoyam') }}">Cocoyam
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('maize') }}">Maize</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('millet') }}">Millet</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sorghum') }}">Sorghum</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rice') }}">Rice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('yam') }}">Yam</a>
      </li>
    </ul>
  </div>
</nav>
