{% extends 'layout.html' %} 

{% block body %}
<div id="card_content">
{% from "includes/_formhelpers.html" import render_field %} 
<form action="" method="POST">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                                <th scope="col">Date</th>
                                <th scope="col">Produce</th>
                                <th scope="col">Predict Price (GHS)</th>
                                <th scope="col">Average Price (GHS)</th>
                                <th scope="col">Accuray %</th>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row.3 }}-{{ row.2 }}</td>
                                <td>{{ row.1 }}</td>
                                <td>{{ row.4 }}</td>
                                <td>{{ row.5 }}</td>
                                <td>{{ (( ( (row.5)|int  - (row.4)|int ) / (row.5)|int ) * 100 )|round(2) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                    <h6>Predict Rice Price</h6>
                    <br>
                        <div class="container ">
                        <div class="row ">
                            <div class="col-12">
                                {{ render_field(form.month, class_="form-control") }}                         
                            </div>       
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                {{ render_field(form.year, class_="form-control") }}                         
                            </div>       
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="w-100"></div>
                    <div class="col center">
                        <br>
                         <h6>{{month_i}}</h6>
                         <h6>{{year}} </h6>
                         <h6>{{ price }} </h6>
                </div>
                        <div class="container center">
                            <div class="row row-btn"></div>
                                <button class="btn btn-outline-success-overide-save center custom-width  my-2 my-sm-0 mr-sm-2 save">Predict</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!-- <div class="line"></div>
        <div id="card_content">
                <div class="card">
                    <div class="card-body">
                        <h4>Chart</h4>
                        <div class="line-title"></div>
                          <div class="container">
                            <div class="row">
              
                        </div>
                    </div>
                </div>
            </div> -->
</div>
{% endblock%}